@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1 class="display-4 fw-bold">Welcome To the Quiz</h1>
    <a asp-controller="Quiz" asp-action="Index" class="btn btn-primary fw-bold px-5 text-dark btn-lg mt-3">TAKE QUIZ</a>
    <a asp-controller="Quiz" asp-action="Create" class="btn btn-primary fw-bold text-dark btn-lg mx-2 mt-3">ADD QUESTIONS</a>
</div>
