@model QuizApplication.Models.QuizQuestions

@{
    ViewData["Title"] = "Create";
}


<partial name="_Notification" />
<form method="post" asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label my-2"></label>
                <input required asp-for="QuestionText" class="form-control" />
            </div>
            <div class="form-group mt-2">    
                <label asp-for="QuizAnswer.Answer" class="control-label my-2"></label>
                <select asp-for="QuizAnswer.Answer" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <div class="form-group my-3 ">
                <input type="submit" value="Add" class="btn px-4 btn-primary" />
                <a asp-action="Index" asp-controller="Home" class="btn px-4 btn-danger">Back</a>

            </div>
        </div>
    </div>
</form>
@*
<div class="container bottom">
    <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Back</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
